body {
  background-image: url('thumbnail.jpg');
  background-size: cover;
  box-shadow: 0px 4px 4px 0px rgba(63, 63, 63, 0.041),
    0px 0px 80.6px 1px #000 inset;
  backdrop-filter: blur(1.6px);
  background-repeat: no-repeat;
}

.credit-images-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
}

.credit-image {
  max-width: 120px; 
  max-height: 120px; 
}
  


.credit-image.second {
  max-width: 150px; 
  max-height: 150px;

}

.credits-text {
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  animation: slideInUp 38s forwards, fadeIn 3s forwards;
}


@keyframes slideInUp {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, -400%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 10;
  }
}
