@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Gloria Hallelujah", cursive, sans-serif;
  height: 100vh;
}

main {
  background-image: url(thumbnail.jpg);
  /* background-position: center; */
  background-size: cover;
  box-shadow: 0px 4px 4px 0px rgba(63, 63, 63, 0.041),
    0px 0px 80.6px 1px #000 inset;
  backdrop-filter: blur(1.6px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button {
  color: white;
  background-color: #2f2f2f;
  border: 0px solid #000000;
  border-radius: 20px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

/* TODO: fix strech */
/* button {
  border: 0px solid #000000;
  background: url("buttons/button_def.png") no-repeat center scroll;
  background-size: cover;

  padding: 0.5em 2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background: url("buttons/button_hov.png") no-repeat center scroll;
  background-size: cover;
}

button:active {
  background: url("buttons/button_pres.png") no-repeat center scroll;
  background-size: cover;
}
*/

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 10em;
  z-index: 100;
}

main h1 {
  font-size: 4em;
}

.title {
  text-align: center;
}

.credit-button {
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 0.5em;
}

.scene-class {
  display: none;
}

.character {
  /* position: absolute; */
  height: auto;
  width: 184px;
}

#dialouge-container {
  position: absolute;
  display: flex;
  /* justify-content: center; */
  bottom: 0;
  left: 0;
  width: 50%;
  margin: 0.5em;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;

  padding: 1em;
  background-color: rgba(217, 217, 217, 0.715);
  cursor: pointer;
}

.dialouge-box {
  /* background-color: #ffd7d7; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: auto;
  /* width: 100%; */
}

@keyframes talk-Animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}


/* Responsiveness */
@media screen and (max-width: 768px) {
  #dialouge-container {
    left: unset;
    width: 95%;
    transition: 1s ease;
  }
}